body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(300deg, rgba(2, 0, 36, 1) 0%, rgba(24, 83, 93, 1) 0%, rgb(0 255 220) 100%);
    background-repeat: no-repeat;
    height: 100vh;

}

.container {
    max-width: 800px;
    margin-top: 60px;
    padding: 20px;
    background-color: black;
    color: lightcyan;
    border-radius: 8px;
    text-align: center;
    border: 10px solid darkcyan;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.675);
}

h1 {
    text-align: center;
    color: darkcyan;
}


form {
    margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.order-history ul {
    list-style-type: none;
    padding: 0;
}

.order-history li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}